<!-- BEGIN PAGE LEVEL STYLES -->
<%= stylesheet_link_tag    '/assets/admin/pages/css/blog' %>
<!-- END PAGE LEVEL SCRIPTS -->

<div class="blog-page">
<div class="row">
<div class="article-block">
<div class="media">
<br />
<% if session[:isboot] == 0 %>
	<a href="#addPostModal" role="button" id="addPostReply" class="btn green btn-lg" data-topictitle="<%= @forums_posts[0]['topictitle']%>" data-topicid="<%= @forums_posts[0]['topicid']%>" data-toggle="modal">
<% else %>
		<a href="#isBootModal" class="btn green btn-lg" role="button" data-toggle="modal">
<% end %>
	 Odpowiedz
</a>
	<h3><%= @forums_posts[0]['topictitle']%></h3>
	<% if @forums_posts %>
	  <% @forums_posts.each do |item| %>
		<div class="media">
			<a href="javascript:;" class="pull-left">
			<% if !item['avatar'].nil? %>
			<img alt="" src="<%= Rails.configuration.static_url%>static/uploads/avatars/<%= item['avatar'] %>" class="todo-userpic pull-left"  width="27px" height="27px">
		<% else %>
			<img alt="" src="../../assets/admin/pages/media/blog/5.jpg" class="todo-userpic pull-left"  width="27px" height="27px">
		<% end %>
			</a>
			<div class="media-body">
				<h4 class="media-heading"><%= item['displayname'] %> <span>
				<% if item['userid'] == @USER['userid'] && item['datecreated']['date'] > 1.day.ago %>
				 <a style="color:#fff" href="/forums/deletepost/<%= item['postid']%>/<%= item['userid']%>/<%= item['topicid']%>" onclick="return confirm('Usunąć element?')" class="btn btn-xs red">
															Usuń <i class="fa fa-remove"></i>
															</a>

				<% end %>
				<%= item['datecreated']['date'][0,16]  %> / <a href="javascript:;">
				Dodaj notatkę do tego posta </a>
				</span>
			
				
				</h4>
				<p>
					 <% item['body'].sub! '[quote]' , '<blockquote>'  %>
					 <% item['body'].sub! '[/quote]' , '</blockquote>'  %>
					 <%= item['body'].html_safe %>
				</p>
			</div>
		</div>
		<!--end media-->
		<hr />
	  <% end %>
	<% else %>
	  Brak postów
	<% end %>
</div>

<br />
<% if session[:isboot] == 0 %>
	<a href="#addPostModal" role="button" id="addPostReply2" class="btn green btn-lg" data-topictitle="<%= @forums_posts[0]['topictitle']%>" data-topicid="<%= @forums_posts[0]['topicid']%>" data-toggle="modal">
<% else %>
		<a href="#isBootModal" class="btn green btn-lg" role="button" data-toggle="modal">
<% end %>
	 Odpowiedz
</a>

</div>
</div>
</div>

<div>
<ul class="pagination pagination-lg">
	<% if @start.to_i != 0 %>
	<li>
		<a href="/forums/viewtopic/<%= @forums_posts[0]['topicid']%>">
		Pierwsza strona
		</a>
	</li>
		<% if @start.to_i != 999999 %>
		<li>
			<a href="/forums/viewtopic/<%= @forums_posts[0]['topicid']%>/<%= @start.to_i - @limit.to_i %>">
			<i class="fa fa-angle-left"></i> Poprzenia
			</a>
		</li>
		<% end %>
	<% end %>
	<% if @start.to_i != 999999 %>
	<li>
	<a href="/forums/viewtopic/<%= @forums_posts[0]['topicid']%>/<%= @start.to_i + @limit.to_i %>">
	Następna <i class="fa fa-angle-right"></i>
	</a>
	</li>
	<% end %>
	<% if @start.to_i != 999999 %>
	<li>
		<a href="/forums/viewtopic/<%= @forums_posts[0]['topicid']%>/999999">
		Ostatnia strona
		</a>
	</li>
	<% end %>
</ul>
</div>

