  
  <%= form_tag( users_login_path, method: "post", class: "login-form") do %>
		<h3 class="form-title">Zaloguj się</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
		</div>
		<%= hidden_field_tag(:login, "1") %>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<%= text_field_tag(:email, "", class: "form-control form-control-solid placeholder-no-fix", autofocus: "",autocomplete:"off", placeholder:"Wpisz email") %>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<%= password_field_tag(:password, "", class: "form-control form-control-solid placeholder-no-fix", autofocus: "",autocomplete:"off", placeholder:"Wpisz hasło") %>
		</div>
		<div class="form-actions">
			<%= submit_tag("Potwierdź", class:"btn btn-success uppercase") %>
			<!--
			<label class="rememberme check">
			<input type="checkbox" name="remember" value="1"/>Remember </label>
			<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
			-->
		</div>
		<div class="login-options">
			<h4>Lub zaloguj się przez</h4>
			<ul class="social-icons">
				<li>
					<a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
				</li>
				<!--
				<li>
					<a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
				</li>
				<li>
					<a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
				</li>
				<li>
					<a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
				</li>
				-->
			</ul>
		</div>
		<div class="create-account">
			<p>
				<a href="/users/create_account" id="register-btn" class="uppercase">Utwórz nowe konto</a>
			</p>
		</div>
	<% end %>
	<!-- END LOGIN FORM -->
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="forget-form" action="index.html" method="post">
		<h3>Forget Password ?</h3>
		<p>
			 Enter your e-mail address below to reset your password.
		</p>
		<div class="form-group">
			<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn btn-default">Back</button>
			<button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
